<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid text-center p-5" id="landing1">
            <h2 class="p-3 mt-4">
              <b> Help Find a Lost Child</b> 
            </h2>  
            <button class="btn btn-lg btn-outline-warning" type="button" routerLink="/track">Search</button>
    </div>

    <div class="container-fluid text-center p-5" id="landing2">
        <h3 class="p-3 mt-4">
            Call 1098 and report Now!
        </h3>
        <h3 class="p-3 mt-4">
            Total 10 children reported till now 
        </h3>
    </div>
</body>
</html>